<div class="new-Message container">
    <form #myform="ngForm" (ngSubmit)="addMessage(to_mail, cc_mail,subjectMail,mainMessage)">
    <div class="email">
        <div class="To-mail row">
            <div class="col-md-2">
                <span class="badge bg-primary">To :</span>
            </div>
            <div class="col-md-10">
                <input type="email" #to_mail required>
            </div>
        </div>
        <div class="cc-mail row">
            <div class="col-md-2">
                <span class="badge bg-primary">CC :</span>
            </div>
            <div class="col-md-10">
                <input type="email" #cc_mail>
            </div>
        </div>
        <div class="subject-mail row">
            <div class="col-md-2">
                <span class="badge bg-primary">Subject :</span>
            </div>
            <div class="col-md-10">
                <input type="text" #subjectMail required>
            </div>
        </div>
        </div>
    <div class="message-Body row">
        <div class="text-Area col-md-12">
            <textarea name="" #mainMessage id="" required></textarea>
        </div>
    </div>
    <div class="send-Btn">
        <button class="btn btn-success" type="submit">Send</button>
    </div>
    </form>
</div>
