.new-Message{
    border: 2px solid blueviolet;
    width: 100%;
    height: 90vh;
    border-radius: 10px;
}
.To-mail, .cc-mail{
    border: 2px solid gray;
    width: 100%;
    height: 60px;
    margin-top: 7px;
}
.To-mail span, .cc-mail span, .subject-mail span{
    margin-top: 7px;
    font-size: 25px;
}
.To-mail input, .cc-mail input, .subject-mail input{
    /* margin-top: 17px; */
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: wheat;
    font-size: 25px;
    border: none;
    outline: none;
}
.text-Area textarea{
    margin-top: 10px;
    width: 100%;
    height: 45vh;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.send-Btn button{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 40%;
}