<!-- Navigations -->
<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 text-center">
      <app-message-list></app-message-list>
    </div>
    <div class="col-md-9" style="background-color: rgb(22, 21, 21);">
      <!-- <app-empty-message></app-empty-message> -->
      <!-- <app-message-body></app-message-body> -->
      <!-- <app-new-message></app-new-message> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>