<div class="container">
    <div class="imagebox">
        <img class="img-fluid" src="../../../assets/IMG/undraw_empty_xct9.png" alt="">
    </div>
    <h2>There are not have any selected message!!</h2>
</div>

