.imagebox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
}
img{    
    height: 400px;
    width: 600px;
}
.container h2{
    color: antiquewhite;
    margin-top: 50%;
    margin-left: 20%;
}