.msg-table{
    /* border: 2px solid rgb(58, 58, 230); */
    height: 91vh;
    margin-left: -10px;
    
}
.msg-area:hover{
    background-color: turquoise;
}
.msg-area:hover>.delete button{
    
    display: block;
}
.msg-area{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 130px;
    text-align: left;
    color: white;
    cursor:pointer;
    transition: .5s all;
}
#User-Name{
    margin-left: 5px;
}
#msg{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}
#created-Date{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
.new-messageButton{
    margin-top: 10px;
    margin-bottom: 10px;
}
.new-messageButton button{
    margin-left: -100px;
}
.delete button{
    height: 30px;
    width: 70px;
    line-height: 20%;
    float: right;
    margin-right: 10px;
    margin-top: -20px;
    display: none;
}