<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/IMG/email-logo-png-1115.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
        <span class="ms-2">Email</span>
      </a>
    </div>
  </nav>