<div class="container">
    <div class="msg-body overflow-auto">
        <div class="subject">
            <h2>{{Email.subject_Mail}}</h2>
        </div>
        <hr>
        <div class="body">
            <h3>Messages Body </h3>
            <span>{{Email.mainMessage}}</span>
        </div>
        <div class="date">
            <span>{{Email.createdOn}}</span>
        </div>
    </div>
</div>