.msg-body{
    border:2px solid rebeccapurple;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
}
.subject h2{
    color: rgb(115, 115, 253);
    text-align: center;
    margin-top: 10%;
    text-justify: auto;
}
hr{
    color: violet;
}
.body span{
    color: wheat;
    display: flex;
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 28px;
}
.body h3{
    color: white;
    margin-left: 10px;
    margin-top: 70px;
}
.date span{
    color: turquoise;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    /* margin-bottom: 30px; */
}